<ion-view title="Todos" id="page2">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <ion-list id="todos-list1" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="todos-list-item1" ui-sref="tabsController.todoItem({&quot;item&quot;:&quot;&quot;+item.$id+&quot;&quot;})" ng-repeat="item in items" ng-show="! item.finished">
        <i class="icon ion-android-checkbox-outline-blank"></i>{{item.title}}</ion-item>
    </ion-list>
    <div style="margin-right:-20px;">
      <button id="todos-button3" ng-click="showModal()" style="left:-10px;" class="button button-balanced  button-full button-outline">Add Item</button>
    </div>
    <script id="add.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class='bar-balanced'>
          <h1 class="title">Add a Todo</h1>
          <button class="button button-clear" ng-click="closeModal()">Close</button>
        </ion-header-bar>
        <ion-content class="padding">
          <label class='item item-input'>
            <input type='text' placeholder='Title' ng-model='data.title' />
          </label>
          <button ng-click='addItem()' class='button button-balanced button-block'>Submit</button>
        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>